/.classpath
/.gradle
/.idea
/.project
/.settings
/bin
/build
/paratask.iml
/lib
/.places
/screenshot*
.directory
/gradle
/gradlew
/gradlew.bat
/out
/paratask.ipr
/paratask.iws
/app/out
/core/out
/paratask-core/out
/paratask-app/out
/paratask-examples/out
/paratask-examples/build
/paratask-jediterm/out
/paratask-core/build
/paratask-app/build
/paratask-jediterm/build
/jediterm
/src/dist/lib/*