/****************************************************
* See :                                             *
*   uk.co.nickthecoder.paratask.gui.ParametersForm  *
*   uk.co.nickthecoder.paratask.gui.LabelledField   *
*                                                   *
*****************************************************/

.form {
    -fx-padding: 10px;
    -fx-spacing: 10px;
}

.form.multiple {
    -fx-padding: 0px;
}

.task-prompter > .scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.error {
    -fx-text-fill: #a00;
    -fx-padding: 5px 0 0 0;
}

.header {
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 10px;
}

.header-row {
    -fx-spacing: 20px;
}

/***********************************************************
* See :                                                    *
*   uk.co.nickthecoder.paratask.gui.TaskPrompter           *
*   uk.co.nickthecoder.paratask.gui.project.ParametersPane *
*                                                          *
************************************************************/

.buttons {
    -fx-padding: 10px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-alignment: top-right;
}

.buttons .button {
    -fx-min-width: 90px;
}


/************************************************************
* See :                                                     *
*   uk.co.nickthecoder.paratask.parameters.fields.TaskField *
*                                                           *
*************************************************************/

.task-field {
    -fx-alignment: center-left;
    -fx-spacing: 10px;
}

/****************************************************
* See :                                             *
*   uk.co.nickthecoder.paratask.gui.MultipleField   *
*                                                   *
*****************************************************/

.multiple-list {
    -fx-spacing: 6px;
    -fx-padding: 0 0 6px 0;
}

.multiple-line-buttons {
    -fx-padding: 0 16px 0 0;
    -fx-spacing: 4px;
}

.multiple-line-buttons > .button {
    -fx-min-width: 30px;
}

/****************************************************
* See :                                             *
*   uk.co.nickthecoder.paratask.gui.SimpleTerminal  *
*                                                   *
*****************************************************/

.terminal .output {
    -fx-font-family: monospace;
    -fx-text-fill: #fff;
}

.terminal .output .content {
    -fx-background-color: #000;
}

.terminal .input {
    -fx-font-family: monospace;
}

.terminal .message {
    -fx-padding : 5px;
}

/****************************************************
* See :                                             *
*   uk.co.nickthecoder.paratask.gui.ButtonGroup     *
*                                                   *
*****************************************************/
// This section is probably not pixel perfect, because I'm not sure how it works!
 
.button-group {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-background-radius: 3, 3;
    -fx-padding: 0;
}

.button-group > .first {
    -fx-background-color: -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 0 1 1, 2 1 2 2;
    -fx-background-radius: 2 0 0 2, 1 0 0 1;
}

.button-group > .middle {
    -fx-background-color: -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 0 1 1, 2 1 2 2;
    -fx-background-radius: 0, 0;
}
.button-group > .last {
    -fx-background-color: -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 1 1 1, 2 2 2 2;
    -fx-background-radius: 0 2 2 0, 0 1 1 0;
}

.button-group > .button:focused {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
}

.button-group > .first:focused {
    -fx-background-radius: 3 1 1 3, 2 0 0 2, 1 0 0 1, 4 3 3 4, 1 0 0 1;
}

.button-group > .middle:focused {
    -fx-background-radius: 2, 1, 0, 3, 0;
}

.button-group > .last:focused {
    -fx-background-radius: 1 3 3 1, 0 2 2 0, 0 1 1 0, 3 4 4 3, 0 1 1 0;
}

/****************************************************
* See :                                             *
*   uk.co.nickthecoder.paratask.editor.EditorTool   *
*                                                   *
*****************************************************/

.editor {
    -fx-font-family: monospace;
}

/****************************************************
* See :                                             *
*   uk.co.nickthecoder.paratask.gui.field.FileField *
*                                                   *
*****************************************************/

.directory {
    -fx-font-weight: bold;
}

/****************************************************
* Drag and Drop                                     *
*****************************************************/

.drop.text-input {
    -fx-control-inner-background: #8f8;
}

/****************************************************
* Various types of TextField / TextArea             *
*****************************************************/

.script.text-input {
    -fx-font-family: monospace;
}

.expression.text-input {
    -fx-control-inner-background: #ffc;
}

/****************************************************
* Table                                             *
*****************************************************/

.edit-cell,
.table-cell:focus {
    -fx-background-color: -fx-faint-focus-color;
    -fx-padding: 0px;
    -fx-background-insets: -3;
    -fx-background-radius: 0;
}

.boolean.table-cell {
    -fx-alignment: center;
    -fx-font-size: 15pt;
    -fx-text-fill: #080;
    -fx-padding: -4px 0 0 0;
}

.path.table-cell {
    -fx-text-overrun: leading-ellipsis;
}

.modified.table-cell,
.number.table-cell {
    -fx-alignment: center-right;
}

.table-row-cell.git-untracked > .table-cell {
    -fx-text-fill: #800;
}
.table-row-cell.git-not-updated > .table-cell {
    -fx-text-fill: #008;
}
.table-row-cell.git-renamed > .table-cell {
    -fx-text-fill: #088;
}
.table-row-cell.git-updated > .table-cell {
    -fx-text-fill: #080;
}

/****************************************************
*   Testing :                                       *
*****************************************************/

.test1 {
    -fx-background-color: #0f0;
}
.test2 {
    -fx-background-color: #f00;
}

.parametersForm .parametersForm {
    //-fx-background-color: #f00;
}

/****************************************************
*   End :                                           *
*****************************************************/
 