/****************************************************
* See :                                             *
*   uk.co.nickthecoder.paratask.gui.ParametersForm  *
*   uk.co.nickthecoder.paratask.gui.LabelledField   *
*                                                   *
*****************************************************/

.form {
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 10px;
}

.task-prompter > .scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.error {
    -fx-text-fill: #a00;
    -fx-padding: 5px 0 0 0;
}

/****************************************************
* See :                                             *
*   uk.co.nickthecoder.paratask.gui.TaskPrompter    *
*                                                   *
*****************************************************/

.buttons {
    -fx-padding: 10px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-alignment: top-right;
}

.buttons > .button {
    -fx-min-width: 90px;
}


/****************************************************
* See :                                             *
*   uk.co.nickthecoder.paratask.gui.MultipleField   *
*                                                   *
*****************************************************/

.multiple-list {
    -fx-spacing: 6px;
    -fx-padding: 0 0 6px 0;
}

.multiple-line-buttons {
    -fx-padding: 0 16px 0 0;
    -fx-spacing: 4px;
}

.multiple-line-buttons > .button {
    -fx-min-width: 30px;
}

/****************************************************
* See :                                             *
*   uk.co.nickthecoder.paratask.gui.SimpleTerminal  *
*                                                   *
*****************************************************/

.terminal .output {
    -fx-font-family: monospace;
    -fx-text-fill: #fff;
}

.terminal .output .content {
    -fx-background-color: #000;
}

.terminal .input {
    -fx-font-family: monospace;
}

.terminal .finished {
    -fx-padding : 5px;
}

/****************************************************
*   End :                                           *
*****************************************************/
 