/****************************
* See classes :             *
*   ParametersForm          *
*   LabelledField           *
*                           *
*****************************/

.form {
    -fx-padding: 10px;
    -fx-spacing: 20px;
}

.form.multiple {
    -fx-padding: 0px;
}

.programming {
    -fx-spacing: 10px;
}

.horizontal-group {
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}

.padded-box {
    -fx-padding: 10px;
}

.task-prompter > .scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.error {
    -fx-text-fill: #a00;
    -fx-padding: 5px 0 0 0;
}

.header {
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 10px;
}

.header-row {
    -fx-spacing: 20px;
}

.right-pad {
    -fx-padding: 0 10px 0 0;
}

.left-pad {
    -fx-padding: 0 0 0 10px;
}

.right-spacing {
    -fx-padding: 0 20px 0 0;
}

.left-spacing {
    -fx-padding: 0 0 0 20px;
}

.bottom-pad {
    -fx-padding: 0 0 10px 0;
}

.small-bottom-pad {
    -fx-padding: 0 0 4px 0;
}

.box-group {
    -fx-spacing : 20px;
}

.labels-above-grid-group {
    -fx-hgap : 10px;
}

.grid-group {
    -fx-hgap : 10px;
    -fx-vgap : 10px;
}

.box-group > .hbox {
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}

/***********************************
* VariablePrompter                 *
***********************************/

.variable-prompter .instructions {
    -fx-padding : 10px;
}

/***********************************
* Context Menu                     *
***********************************/

.menu-item .default {
    -fx-font-weight: bold;
}

/****************************
* See classes :             *
*   TaskPrompter            *
*   ParametersPane          *
*                           *
*****************************/

.buttons {
    -fx-padding: 10px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-alignment: top-right;
}

.buttons .button {
    -fx-min-width: 90px;
}


/****************************
* See classes :             *
*   TaskField               *
*****************************/

.task-field {
    -fx-alignment: center-left;
    -fx-spacing: 10px;
}

/****************************
* See classes :             *
*   FileFieldBase           *
*****************************/

.file-field .icon {
    -fx-padding: 0 0 0 6px;
    -fx-alignment: center;
}

/****************************
* See classes :             *
*   MultipleField           *
*****************************/

.multiple-list {
    -fx-spacing: 6px;
    -fx-padding: 0 0 6px 0;
}

.multiple-line-buttons {
    -fx-padding: 0 16px 0 0;
    -fx-spacing: 4px;
}

.multiple-line-buttons > .button {
    -fx-min-width: 30px;
}

/****************************
* See classes :             *
*   SimpleTerminal          *
*****************************/

.terminal .output {
    -fx-font-family: monospace;
    -fx-text-fill: #fff;
}

.terminal .output .content {
    -fx-background-color: #000;
}

.terminal .input {
    -fx-font-family: monospace;
}

.terminal .message {
    -fx-padding : 5px;
}

/****************************
* See classes :             *
*   ButtonGroup             *
*****************************/

.button-group {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-background-radius: 3, 3;
    -fx-padding: 0;
}

.button-group > .first {
    -fx-background-color: -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 0 1 1, 2 1 2 2;
    -fx-background-radius: 2 0 0 2, 1 0 0 1;
}

.button-group > .middle {
    -fx-background-color: -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 0 1 1, 2 1 2 2;
    -fx-background-radius: 0, 0;
}
.button-group > .last {
    -fx-background-color: -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 1 1 1, 2 2 2 2;
    -fx-background-radius: 0 2 2 0, 0 1 1 0;
}

.button-group > .button:focused {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
}

.button-group > .first:focused {
    -fx-background-radius: 3 1 1 3, 2 0 0 2, 1 0 0 1, 4 3 3 4, 1 0 0 1;
}

.button-group > .middle:focused {
    -fx-background-radius: 2, 1, 0, 3, 0;
}

.button-group > .last:focused {
    -fx-background-radius: 1 3 3 1, 0 2 2 0, 0 1 1 0, 3 4 4 3, 0 1 1 0;
}

/****************************
* See classes :             *
*   EditorTool              *
*****************************/

.editor {
    -fx-font-family: monospace;
}

/****************************
* See classes :             *
*   FileFieldBase           *
*   FileField               *
*****************************/

.directory {
    -fx-font-weight: bold;
}

/****************************
* Drag and Drop             *\
*****************************/

.root {
    drop-copy: #FFBB7C;
    drop-move: #7EFF67;
    drop-link: #DE97E8;
}

.drop-copy {
    -fx-control-inner-background: drop-copy;
}
.drop-move {
    -fx-control-inner-background: drop-move;
}
.drop-link{
    -fx-control-inner-background: drop-link;
}

.button.drop-copy {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, drop-copy;
}
.button.drop-move {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, drop-move;
}
.button.drop-link {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, drop-link;
}

/** Important to override the ":selected" color. */
.table-row-cell.drop-copy {
    -fx-background: drop-copy !important;
}
.table-row-cell.drop-move {
    -fx-background: drop-move !important;
}
.table-row-cell.drop-link {
    -fx-background: drop-link !important;
}

.my-tab-pane > .tab-header-area > .tabs-container > .tab.drop-copy {
    -fx-background-color: -fx-outer-border, -fx-inner-border, drop-copy !important;
}
.my-tab-pane > .tab-header-area > .tabs-container > .tab.drop-move {
    -fx-background-color: -fx-outer-border, -fx-inner-border, drop-move !important;
}
.my-tab-pane > .tab-header-area > .tabs-container > .tab.drop-link {
    -fx-background-color: -fx-outer-border, -fx-inner-border, drop-link !important;
}

/*************************************
* Script and Expression text fields  *
*************************************/

.script.text-input {
    -fx-font-family: monospace;
}

.programming > .container {
    -fx-padding: 0 0 0 10px;
}

.expression.text-input {
    -fx-control-inner-background: #ffc;
}

/****************************************************
* Table                                             *
*****************************************************/

.edit-cell,
.table-cell:focus {
    -fx-background-color: -fx-faint-focus-color;
    -fx-padding: 0px;
    -fx-background-insets: -3;
    -fx-background-radius: 0;
}

.boolean.table-cell {
    -fx-alignment: center;
    -fx-font-size: 15pt;
    -fx-text-fill: #080;
    -fx-padding: -4px 0 0 0;
}

.path.table-cell {
    -fx-text-overrun: leading-ellipsis;
}

.modified.table-cell,
.number.table-cell {
    -fx-alignment: center-right;
}

.table-row-cell.git-untracked > .table-cell {
    -fx-text-fill: #800;
}
.table-row-cell.git-not-updated > .table-cell {
    -fx-text-fill: #008;
}
.table-row-cell.git-renamed > .table-cell {
    -fx-text-fill: #088;
}
.table-row-cell.git-updated > .table-cell {
    -fx-text-fill: #080;
}

/*
 Make the table's selected rows stay the same colour regardless of focus, so that the table doesn't FLASH
 when changing the selection using ctrl+left mouse button.
 The table never stay in a focuses state, because the code's cell takes the focus, so the focus color isn't
 important anyway!
*/
.table-view:focused > .virtual-flow > .clipped-container > .sheet > .table-row-cell:filled:selected {
    -fx-background: -fx-selection-bar-non-focused;
    -fx-table-cell-border-color: derive(-fx-selection-bar-non-focused, 20%);
}

/****************************************************
*   MyTabPane :                                     *
* This was copied from the regular TabPane css, and *
* tweaked for MyTabPane's structure.                *
*****************************************************/

.my-tab-pane > .tab-header-area {
    -fx-background-color: linear-gradient(from 0px 0px to 0px 4px, -fx-text-box-border, derive(-fx-text-box-border, 30%));
}
.my-tab-pane.top > .tab-header-area {
    -fx-padding: 0.416667em 0.416667em 0 0.416667em; /* 5 5 0 5 */
}
.my-tab-pane.bottom > .tab-header-area {
    -fx-padding: 0 0.416667em 0.416667em 0.416667em; /* 0 5 5 5 */
}

.my-tab-pane > .tab-header-area > .tabs-container > .tab {
    -fx-padding: 0.083333em 0.5em 0.0769em 0.5em; /* 1 6 0.99 6 */
}
.my-tab-pane.top > .tab-header-area > .tabs-container > .tab {
    -fx-background-insets: 0 1 1 0, 1 2 1 1, 2 3 1 2;
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-body-color;
    -fx-background-radius: 3 3 0 0, 2 2 0 0, 1 1 0 0;
}
.my-tab-pane.bottom> .tab-header-area > .tabs-container > .tab {
    -fx-background-insets: 1 1 0 0, 1 2 1 1, 1 3 2 2;
    -fx-background-color: -fx-outer-border, -fx-inner-border-bottomup, -fx-body-color-bottomup;
    -fx-background-radius: 0 0 3 3, 0 0 2 2, 0 0 1 1;
}

.my-tab-pane > .tab-header-area > .tabs-container > .tab.selected {
    -fx-background-color: -fx-outer-border, -fx-inner-border, -fx-background;
}

.my-tab-pane > .tab-header-area > .tabs-container > .tab > .tab-close-button {
    -fx-background-color: transparent !important;
    -fx-background-insets: 0;
    -fx-padding: 7px 2px 5px 0px;
    -fx-text-fill: #888;
}

.my-tab-pane > .tab-header-area > .tabs-container > .tab > .tab-close-button:hover,
.my-tab-pane > .tab-header-area > .tabs-container > .tab > .tab-close-button:armed {
    -fx-background-color: transparent !important;
    -fx-text-fill: -fx-dark-text-color;
}

.my-tab-pane > .tab-header-area > .tabs-container > .tab > .tab-label {
    -fx-text-fill: -fx-text-base-color;
    -fx-padding: 6px 4px 6px 0;
}
.my-tab-pane > .tab-header-area > .tabs-container > .tab > .tab-close-button:hover {
    -fx-background-color: derive(-fx-mark-color, -30%);
}
.my-tab-pane > .tab-header-area > .extra-container {
    -fx-padding: 0 0 4px 8px;
    -fx-spacing: 6px;
}
.my-tab-pane.bottom > .tab-header-area > .extra-container {
    -fx-padding: 6px 0 0px 8px;
}
.my-tab-pane > .tab-header-area > .extra-container > .more-button > .text ,
.my-tab-pane > .tab-header-area > .extra-container > .add-tab > .text {
    -fx-font-size: 0.7em;
}
.my-tab-pane > .tab-header-area > .extra-container > .more-button ,
.my-tab-pane > .tab-header-area > .extra-container > .add-tab {
    -fx-padding: 5px 7px 5px 7px;
    -fx-background-radius: 10;
}



/****************************************************
*   MySplitPane :                                   *
*****************************************************/

.my-split-pane > .divider {
   -fx-background-color: -fx-box-border, -fx-inner-border-horizontal;
   -fx-background-insets: 0, 0 1 0 1;
   -fx-cursor: h-resize;
}

/****************************************************
*   File Operations :                               *
*****************************************************/

.file-operations {
    -fx-padding: 10px;
    -fx-spacing: 4px;
}

.file-operation {
    -fx-padding: 14px;
    -fx-background-color: #ccc;
    -fx-background-radius: 6px;
}

.file-operation.active {
    -fx-background-color: -fx-faint-focus-color;
}

.file-operation.error {
    -fx-background-color: #c33;
}

.file-operation .files {
    -fx-underline: true;
    -fx-font-weight: bold;
}


/****************************************************
*   Testing :                                       *
*****************************************************/

.test1 {
    -fx-background-color: #0f0;
}
.test2 {
    -fx-background-color: #f00;
}

/****************************************************
*   End :                                           *
*****************************************************/
 