/****************************
* See classes :             *
*   ParametersForm          *
*   LabelledField           *
*                           *
*****************************/

.form {
    -fx-padding: 10px;
    -fx-spacing: 20px;
}

.form.multiple {
    -fx-spacing: 4px; /* Squash closer together */
}

.form.multiple {
    -fx-padding: 0px;
}

.programming {
    -fx-spacing: 10px;
}

.horizontal-group {
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}

.padded-box {
    -fx-padding: 10px;
}

.task-prompter > .scroll-pane {
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.information {
    -fx-text-fill: #080;
}

.hint {
    -fx-text-fill: #080;
    -fx-padding: 2px 0 0 0;
}

.error {
    -fx-text-fill: #a00;
    -fx-padding: 5px 0 0 0;
}

.header {
    -fx-padding: 10px 10px 10px 10px;
    -fx-spacing: 10px;
}

.header-row {
    -fx-spacing: 20px;
}

.right-pad {
    -fx-padding: 0 10px 0 0;
}

.left-pad {
    -fx-padding: 0 0 0 10px;
}

.right-spacing {
    -fx-padding: 0 20px 0 0;
}

.left-spacing {
    -fx-padding: 0 0 0 20px;
}

.bottom-pad {
    -fx-padding: 0 0 10px 0;
}

.small-bottom-pad {
    -fx-padding: 0 0 4px 0;
}

.box-group {
    -fx-spacing : 20px;
}

.labels-above-grid-group {
    -fx-hgap : 10px;
}

.grid-group {
    -fx-hgap : 10px;
    -fx-vgap : 10px;
}

.vertical-group {
    -fx-spacing: 6px;
}

.box-group > .hbox {
    -fx-spacing: 10px;
    -fx-alignment: center-left;
}

.multiple-details {
    -fx-padding: 0 10px 0 20px;
}

/***********************************
* VariablePrompter                 *
***********************************/

.variable-prompter .instructions {
    -fx-padding : 10px;
}

/****************************
* See classes :             *
*   TaskPrompter            *
*   ParametersPane          *
*                           *
*****************************/

.buttons {
    -fx-padding: 10px;
    -fx-hgap: 10px;
    -fx-vgap: 10px;
    -fx-alignment: top-right;
}
.buttons.left {
    -fx-alignment: top-left;
}
.buttons .button {
    -fx-min-width: 90px;
}
.small-buttons {
    -fx-padding: 10px;
    -fx-hgap: 10px;
    -fx-alignment: top-center;
}


/****************************
* See classes :             *
*   TaskField               *
*****************************/

.task-field {
    -fx-alignment: center-left;
    -fx-spacing: 10px;
}

/****************************
* See classes :             *
*   FileFieldBase           *
*****************************/

.file-field .icon {
    -fx-padding: 0 0 0 6px;
    -fx-alignment: center;
}

/****************************
* See classes :             *
*   MultipleField           *
*****************************/

.multiple-list {
    -fx-spacing: 6px;
    -fx-padding: 0 0 6px 0;
}

.multiple-line-buttons {
    -fx-padding: 0 16px 0 0;
    -fx-spacing: 4px;
}

.multiple-line-buttons > .button {
    -fx-min-width: 30px;
}

/****************************
* See classes :             *
*   CompoundButtons         *
*****************************/

.button-group {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border;
    -fx-background-insets: 0 0 -1 0, 0;
    -fx-background-radius: 3, 3;
    -fx-padding: 0;
}

.button-group > .first {
    -fx-background-color: -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 0 1 1, 2 1 2 2;
    -fx-background-radius: 2 0 0 2, 1 0 0 1;
}

.button-group > .middle {
    -fx-background-color: -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 0 1 1, 2 1 2 2;
    -fx-background-radius: 0, 0;
}
.button-group > .last {
    -fx-background-color: -fx-inner-border, -fx-body-color;
    -fx-background-insets: 1 1 1 1, 2 2 2 2;
    -fx-background-radius: 0 2 2 0, 0 1 1 0;
}

.button-group > .button:focused {
    -fx-background-color: -fx-focus-color, -fx-inner-border, -fx-body-color, -fx-faint-focus-color, -fx-body-color;
    -fx-background-insets: -0.2, 1, 2, -1.4, 2.6;
}

.button-group > .first:focused {
    -fx-background-radius: 3 1 1 3, 2 0 0 2, 1 0 0 1, 4 3 3 4, 1 0 0 1;
}

.button-group > .middle:focused {
    -fx-background-radius: 2, 1, 0, 3, 0;
}

.button-group > .last:focused {
    -fx-background-radius: 1 3 3 1, 0 2 2 0, 0 1 1 0, 3 4 4 3, 0 1 1 0;
}

/****************************
* See classes :             *
*   FileFieldBase           *
*   FileField               *
*****************************/

.directory {
    -fx-font-weight: bold;
}

/****************************
* Drag and Drop             *\
*****************************/

.root {
    drop-copy: #FFBB7C;
    drop-move: #7EFF67;
    drop-link: #DE97E8;
}

.drop-copy {
    -fx-control-inner-background: drop-copy;
}
.drop-move {
    -fx-control-inner-background: drop-move;
}
.drop-link{
    -fx-control-inner-background: drop-link;
}

.button.drop-copy,
.split-menu-button.drop-copy {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, drop-copy;
}
.button.drop-move,
.split-menu-button.drop-move {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, drop-move;
}
.button.drop-link,
.split-menu-button.drop-link {
    -fx-background-color: -fx-shadow-highlight-color, -fx-outer-border, -fx-inner-border, drop-link;
}

/** Important to override the ":selected" color. */
.table-row-cell.drop-copy {
    -fx-background: drop-copy !important;
}
.table-row-cell.drop-move {
    -fx-background: drop-move !important;
}
.table-row-cell.drop-link {
    -fx-background: drop-link !important;
}

.my-tab-pane > .tab-header-area > .tabs-container > .tab.drop-copy {
    -fx-background-color: -fx-outer-border, -fx-inner-border, drop-copy !important;
}
.my-tab-pane > .tab-header-area > .tabs-container > .tab.drop-move {
    -fx-background-color: -fx-outer-border, -fx-inner-border, drop-move !important;
}
.my-tab-pane > .tab-header-area > .tabs-container > .tab.drop-link {
    -fx-background-color: -fx-outer-border, -fx-inner-border, drop-link !important;
}

/*************************************
* Script and Expression text fields  *
*************************************/

.script.text-input {
    -fx-font-family: monospace;
}

.programming > .container {
    -fx-padding: 0 0 0 10px;
}

.expression.text-input {
    -fx-control-inner-background: #ffc;
}

/****************************************************
*   End :                                           *
*****************************************************/
 